GPU_IDS=0
DATASET_DIR=./data/MSAD
VIDEO_DIR=./data/MSAD/videos
INDEX_FILE=./results/msad/annotations/test.txt
EVAL_ANNOTATION_FILE=./results/msad/annotations/test.txt
TEMPORAL_ANNOTATION_FILE=./results/msad/annotations/temporal_annotations.txt
ROOT_PATH=./data/MSAD/frames
OUTPUT_DIR=./data/MSAD/scores/covas_vad
MODEL_PATH=DAMO-NLP-SG/VideoLLaMA3-7B
NORMAL_LABEL=0
PRECISE_TIME=1
THRESHOLD_BATCH_SIZE=10
PREFIX_CACHE=1
CHECKPOINT_INTERVAL=20
