GPU_IDS=0
DATASET_DIR=./data/ucf_crime
VIDEO_DIR=./data/ucf_crime/videos
INDEX_FILE=./results/ucf_crime/annotations/test.txt
EVAL_ANNOTATION_FILE=./results/ucf_crime/annotations/test.txt
TEMPORAL_ANNOTATION_FILE=./results/ucf_crime/annotations/temporal_annotations.txt
ROOT_PATH=./data/ucf_crime/frames
OUTPUT_DIR=./data/ucf_crime/scores/covas_vad
MODEL_PATH=DAMO-NLP-SG/VideoLLaMA3-7B
NORMAL_LABEL=7
PRECISE_TIME=0
THRESHOLD_BATCH_SIZE=10
PREFIX_CACHE=1
CHECKPOINT_INTERVAL=20
