GPU_IDS=0
DATASET_DIR=./data/xd_violence
VIDEO_DIR=./data/xd_violence/videos
INDEX_FILE=./results/xd_violence/annotations/test.txt
EVAL_ANNOTATION_FILE=./results/xd_violence/annotations/test.txt
TEMPORAL_ANNOTATION_FILE=./results/xd_violence/annotations/temporal_annotations.txt
ROOT_PATH=./data/xd_violence/frames
OUTPUT_DIR=./data/xd_violence/scores/covas_vad
MODEL_PATH=DAMO-NLP-SG/VideoLLaMA3-7B
NORMAL_LABEL=4
PRECISE_TIME=0
THRESHOLD_BATCH_SIZE=10
PREFIX_CACHE=1
CHECKPOINT_INTERVAL=20
